body {
    background: -webkit-gradient(linear, left top, left bottom, from(#00a3cc), to(#005266));
    background: linear-gradient(#00a3cc, #005266);
}

input {
    display: none;
}

.dragon-radar {
    display: block;
    width: 50vh;
    height: 50vh;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    background-color: #efefef;
    background-image: radial-gradient( #efefef 50%, #0a0a0a);
    border-radius: 50%;
    box-shadow: inset 1vh -2vh 0px 0px rgba(137, 137, 137, 0.6);
    margin: 50vh 0 0 50vw;
    position: relative;
}

.dragon-radar-button {
    display: block;
    width: 10vh;
    height: 7vh;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    -webkit-transform: translateX(-50%) translateY(-65%);
    transform: translateX(-50%) translateY(-65%);
    background-color: #efefef;
    background-image: radial-gradient( #efefef, #bcbcbc);
    box-shadow: inset 1vh -1vh 1vh 0.2vh #bcbcbc;
    cursor: pointer;
    position: absolute;
    left: 50%;
}

.dragon-radar-button:before {
    height: 0;
    width: 0;
    border-bottom: 6.5vh solid #afafaf;
    border-left: 3vh solid transparent;
    -webkit-transform: translateX(-95%);
    transform: translateX(-95%);
    content: "";
    position: absolute;
}

.dragon-radar-button:after {
    height: 0;
    width: 0;
    border-bottom: 6.5vh solid #bcbcbc;
    border-right: 3vh solid transparent;
    -webkit-transform: translateX(95%);
    transform: translateX(95%);
    content: "";
    position: absolute;
    right: 0;
}

.button-knob {
    display: block;
    width: 10vh;
    height: 4vh;
    border-top-left-radius: 4.5vh;
    border-top-right-radius: 4.5vh;
    -webkit-transform: translateY(-130%);
    transform: translateY(-130%);
    background-color: #efefef;
    background-image: radial-gradient( #efefef, #bcbcbc);
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    box-shadow: inset 1vh -1vh 1vh 0.2vh #bcbcbc;
    position: absolute;
}

.button-knob:after {
    display: block;
    width: 70%;
    height: 31%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: height 0.1s;
    transition: height 0.1s;
    background-color: #707070;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#efefef));
    background-image: linear-gradient(#707070, #efefef);
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 0;
}

.dragon-radar-button:hover .button-knob {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
}

.dragon-radar-button:hover .button-knob:after {
    height: 50%;
}

.dragon-radar-button:active .button-knob {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.dragon-radar-button:active .button-knob:after {
    height: 0;
}

.radar-screen {
    display: block;
    width: 85%;
    height: 85%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
    border: 1vh solid #969696;
    box-shadow: inset 0vh 0vh 5vh 0.2vh black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #009900;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0vh, #003300), color-stop(0.2vh, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0vh, #003300), color-stop(0.2vh, transparent));
    background-image: linear-gradient(#003300 0vh, transparent 0.2vh), linear-gradient(90deg, #003300 0vh, transparent 0.2vh);
    background-size: 4.4vh 4.4vh;
    overflow: hidden;
}

#screen-toggle:checked+.radar-screen {
    background-size: 6vh 6vh;
}

.screen-positions,
.screen-tracking {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

.current-position {
    height: 0;
    width: 0;
    border-bottom: 3vh solid #cc0000;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    -webkit-transform: translateX(-45%) translateY(-50%);
    transform: translateX(-45%) translateY(-50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}

.ball-indicator {
    -webkit-animation: shadow-pulse 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: shadow-pulse 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    display: block;
    width: 2.6vh;
    height: 2.6vh;
    opacity: 0;
    background: #ffff66;
    border-radius: 50%;
    color: #ffff66;
    font-family: arial, helvetica, sans-serif;
    font-size: 4vh;
    text-indent: 3vh;
    line-height: 5vh;
    position: absolute;
}

.screen-positions .ball-indicator:nth-child(1) {
    left: 10%;
    top: 20%;
}

.screen-positions .ball-indicator:nth-child(2) {
    left: 50%;
    top: 35%;
}

.screen-positions .ball-indicator:nth-child(3) {
    top: 80%;
    left: 25%;
}

.screen-tracking .ball-indicator {
    display: block;
    width: 3.6vh;
    height: 3.6vh;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-indent: 4.5vh;
    top: 50%;
    left: 50%;
}

.tracking-line {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -3vh;
}

.track-indicator {
    height: 0;
    width: 0;
    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    border-top: 1.5vh solid #ffff66;
    -webkit-animation: arrow-pulse 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: arrow-pulse 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

.track-indicator:nth-child(0) {
    -webkit-transform: translateX(0vh) translateY(0vh) rotate(40deg);
    transform: translateX(0vh) translateY(0vh) rotate(40deg);
}

.track-indicator:nth-child(1) {
    -webkit-transform: translateX(3vh) translateY(-4vh) rotate(40deg);
    transform: translateX(3vh) translateY(-4vh) rotate(40deg);
}

.track-indicator:nth-child(2) {
    -webkit-transform: translateX(6vh) translateY(-8vh) rotate(40deg);
    transform: translateX(6vh) translateY(-8vh) rotate(40deg);
}

.track-indicator:nth-child(3) {
    -webkit-transform: translateX(9vh) translateY(-12vh) rotate(40deg);
    transform: translateX(9vh) translateY(-12vh) rotate(40deg);
}

.track-indicator:nth-child(4) {
    -webkit-transform: translateX(12vh) translateY(-16vh) rotate(40deg);
    transform: translateX(12vh) translateY(-16vh) rotate(40deg);
}

.track-indicator:nth-child(5) {
    -webkit-transform: translateX(15vh) translateY(-20vh) rotate(40deg);
    transform: translateX(15vh) translateY(-20vh) rotate(40deg);
}

.track-indicator:nth-child(6) {
    -webkit-transform: translateX(18vh) translateY(-24vh) rotate(40deg);
    transform: translateX(18vh) translateY(-24vh) rotate(40deg);
}

.track-indicator:nth-child(7) {
    -webkit-transform: translateX(21vh) translateY(-28vh) rotate(40deg);
    transform: translateX(21vh) translateY(-28vh) rotate(40deg);
}

.track-indicator:nth-child(8) {
    -webkit-transform: translateX(24vh) translateY(-32vh) rotate(40deg);
    transform: translateX(24vh) translateY(-32vh) rotate(40deg);
}

.track-indicator:nth-child(9) {
    -webkit-transform: translateX(27vh) translateY(-36vh) rotate(40deg);
    transform: translateX(27vh) translateY(-36vh) rotate(40deg);
}

.track-indicator:nth-child(10) {
    -webkit-transform: translateX(30vh) translateY(-40vh) rotate(40deg);
    transform: translateX(30vh) translateY(-40vh) rotate(40deg);
}

.track-indicator:nth-child(11) {
    -webkit-transform: translateX(33vh) translateY(-44vh) rotate(40deg);
    transform: translateX(33vh) translateY(-44vh) rotate(40deg);
}

.track-indicator:nth-child(12) {
    -webkit-transform: translateX(36vh) translateY(-48vh) rotate(40deg);
    transform: translateX(36vh) translateY(-48vh) rotate(40deg);
}

.tracking-motion {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-animation: tracking-move 6s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: tracking-move 6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    position: absolute;
}

@-webkit-keyframes tracking-move {
    0% {
        opacity: 1;
        -webkit-transform: translateX(20%) translateY(-20%);
    }
    90%,
    95% {
        opacity: 1;
        -webkit-transform: translateX(-20%) translateY(20%);
    }
    98% {
        -webkit-transform: translateX(-20%) translateY(20%);
    }
    99% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0);
    }
}

@keyframes tracking-move {
    0% {
        opacity: 1;
        -webkit-transform: translateX(20%) translateY(-20%);
        transform: translateX(20%) translateY(-20%);
    }
    90%,
    95% {
        opacity: 1;
        -webkit-transform: translateX(-20%) translateY(20%);
        transform: translateX(-20%) translateY(20%);
    }
    98% {
        -webkit-transform: translateX(-20%) translateY(20%);
        transform: translateX(-20%) translateY(20%);
    }
    99% {
        opacity: 0;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes arrow-pulse {
    1% {
        opacity: 0;
    }
    12% {
        opacity: 1;
        height: 0;
        width: 0;
        border-left: 1.5vh solid transparent;
        border-right: 1.5vh solid transparent;
        border-top: 1.5vh solid #ffffcc;
    }
    30% {
        opacity: 1;
        height: 0;
        width: 0;
        border-left: 1.5vh solid transparent;
        border-right: 1.5vh solid transparent;
        border-top: 1.5vh solid #ffffcc;
    }
    70% {
        opacity: 1;
        height: 0;
        width: 0;
        border-left: 1.5vh solid transparent;
        border-right: 1.5vh solid transparent;
        border-top: 1.5vh solid #ffff66;
    }
    75% {
        opacity: 0;
    }
}

@keyframes arrow-pulse {
    1% {
        opacity: 0;
    }
    12% {
        opacity: 1;
        height: 0;
        width: 0;
        border-left: 1.5vh solid transparent;
        border-right: 1.5vh solid transparent;
        border-top: 1.5vh solid #ffffcc;
    }
    30% {
        opacity: 1;
        height: 0;
        width: 0;
        border-left: 1.5vh solid transparent;
        border-right: 1.5vh solid transparent;
        border-top: 1.5vh solid #ffffcc;
    }
    70% {
        opacity: 1;
        height: 0;
        width: 0;
        border-left: 1.5vh solid transparent;
        border-right: 1.5vh solid transparent;
        border-top: 1.5vh solid #ffff66;
    }
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes shadow-pulse {
    1% {
        opacity: 0;
    }
    12% {
        opacity: 1;
        background-color: #ffffcc;
        color: #ffffcc;
        box-shadow: 0vh 0vh 3vh 3vh rgba(255, 255, 204, 0.5);
        text-shadow: 0vh 0vh 3vh rgba(255, 255, 204, 0.5);
    }
    30% {
        opacity: 1;
        background-color: #ffffcc;
        color: #ffffcc;
        box-shadow: 0vh 0vh 3vh 3vh rgba(255, 255, 204, 0.5);
        text-shadow: 0vh 0vh 3vh rgba(255, 255, 204, 0.5);
    }
    70% {
        opacity: 1;
        background-color: #ffff66;
        color: #ffff66;
        box-shadow: 0vh 0vh 0vh 0vh rgba(255, 255, 102, 0.5);
        text-shadow: 0vh 0vh 0vh rgba(255, 255, 102, 0.5);
    }
    75% {
        opacity: 0;
    }
}

@keyframes shadow-pulse {
    1% {
        opacity: 0;
    }
    12% {
        opacity: 1;
        background-color: #ffffcc;
        color: #ffffcc;
        box-shadow: 0vh 0vh 3vh 3vh rgba(255, 255, 204, 0.5);
        text-shadow: 0vh 0vh 3vh rgba(255, 255, 204, 0.5);
    }
    30% {
        opacity: 1;
        background-color: #ffffcc;
        color: #ffffcc;
        box-shadow: 0vh 0vh 3vh 3vh rgba(255, 255, 204, 0.5);
        text-shadow: 0vh 0vh 3vh rgba(255, 255, 204, 0.5);
    }
    70% {
        opacity: 1;
        background-color: #ffff66;
        color: #ffff66;
        box-shadow: 0vh 0vh 0vh 0vh rgba(255, 255, 102, 0.5);
        text-shadow: 0vh 0vh 0vh rgba(255, 255, 102, 0.5);
    }
    75% {
        opacity: 0;
    }
}

.screen-positions {
    display: block;
}

.screen-tracking {
    display: none;
}

#screen-toggle:checked+.radar-screen .screen-positions {
    display: none;
}

#screen-toggle:checked+.radar-screen .screen-tracking {
    display: block;
}